body {
  font-family: Georgia, sans-serif;
  color: gold;
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {

}

#header {
  background-image: url("./imgs/catanBanner.jpeg");
  background-repeat: no-repeat;
  height: 164px;
}

h1 {
  padding-left: 10px;
  padding-top: 95px;
  font-size: 3rem;
  text-shadow: 2px 2px 1px hsl(0, 0%, 20%), -2px -2px 1px hsl(0, 0%, 20%);
}

#board {
  font-size: 2rem;
  font-family: sans-serif;
}

#board #wins {
  border: 1px solid black;
  width: 10px;
}

#player {
  border: 1px solid black;
}

#board td {
  border: 2px solid black;
}
